$form-inverse-bg : rgba(255,255,255, .1);
$form-inverse-color : rgba(255,255,255, .8);

//add this class to a parent selector like .custom-control, .input-group, .form-group or fieldset
//TODO I think make sence to do a mixing out of it for form-white as well

.bg-inverse,
.form-inverse {
  .form-control {
	background-color: $form-inverse-bg;
	border-color: $form-inverse-bg;
	color: $form-inverse-color;

	@include form-control-focus($form-inverse-color, $brand-inverse, $brand-primary);
  }

  &select, select {
	background-image: $custom-select-indicator-white;
  }

  .custom-control-input {
	&:focus ~ .custom-control-indicator {
	  // the mixin is not used here to make sure there is feedback
	  box-shadow: $custom-control-focus-indicator-box-shadow-inverse;
	}
  }

  .custom-control-indicator {
	background-color: $form-inverse-bg;
  }

  .custom-checkbox {
	.custom-control-input:checked ~ .custom-control-indicator {
	  background-image: $custom-checkbox-checked-icon-inverse;
	}

	.custom-control-input:indeterminate ~ .custom-control-indicator {
	  background-image: $custom-checkbox-indeterminate-icon-inverse;
	}
  }

  .custom-radio {
	.custom-control-input:checked ~ .custom-control-indicator {
	  background-image: $custom-radio-checked-icon-inverse;
	}
  }
}

//add this class to a parent selector like .custom-control, .input-group, .form-group or fieldset
.form__white {
  &.form-control,
  .form-control {
	background-color: #fff !important;
  }

  .custom-control-input {
	&:not(:checked) ~ .custom-control-indicator {
	  background-color: #fff !important;
	}
  }

  &select, select {
	background-image: $custom-select-indicator-white;
  }
}

.form__semi-transparent {
  &.form-control,
  .form-control {
	background-color: rgba(#fff, .2) !important;
	border-color: rgba(#fff, .35) !important;
	color: #fff;
  }

  &select, select {
	background-image: $custom-select-indicator-white;
  }

  label {
	color: #fff !important;
	font-weight: $font-weight-base;
  }
}

.form__white-brand {
  &.form-control,
  .form-control {
	background-color: #fff !important;
	border-color: $brand-primary;
  }

  .ui-form_label {
	color: $brand-primary;
  }

  .custom-control-input {
	&:not(:checked) ~ .custom-control-indicator {
	  background-color: #fff !important;
	}
  }
}