<div class="m-y-2">
	<div class="container-lg m-y-3">
		<h3 class="table-title">
			Classical panels
		</h3>

		<table class="table order-item-list table-hover_grouped-rows">
			<thead>
			<tr>
				<th class="table-checkbox order-item-list_checkbox"></th>
				<th class="order-item-list_icon"></th>
				<th class="order-item-list_panel">Panel type / ID</th>
				<th class="order-item-list_size">Size</th>
				<th class="order-item-list_start" data-tooltip="Your week will be displayed within 5 days of the stated date" data-tooltip-pos="up" data-tooltip-length='md'>
					Week commencing
				</th>
				<th class="order-item-list_period">Period</th>
				<th class="order-item-list_day-part"></th>
				<th class="order-item-list_length"></th>
				<th class="order-item-list_loop"></th>
				<th class="table-price order-item-list_price">Price</th>
			</tr>
			</thead>

			<tbody class="table-row-group table-disabled">
			<tr>
				<td class="table-checkbox order-item-list_checkbox">
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input">
						<span class="custom-control-indicator"></span>
					</label>
				</td>
				<td class="order-item-list_icon">
					<div class="img-circle" style="background: red; height: 1.3rem; width: 1.3rem;"></div>
				</td>
				<td class="order-item-list_panel">
					Static 6-sheet
					<br>
					<strong>
						SKUK571235325337
					</strong>
				</td>
				<td class="order-item-list_size"></td>
				<td class="order-item-list_start">
					7 Nov 2016
				</td>
				<td class="order-item-list_period">
					7 days
				</td>
				<td class="order-item-list_day-part"></td>
				<td class="order-item-list_length"></td>
				<td class="order-item-list_loop"></td>
				<td class="table-price order-item-list_price">
					£966.00
				</td>
			</tr>
			</tbody>

			<tbody class="table-row-group">
			<tr>
				<td class="table-checkbox order-item-list_checkbox" rowspan="4">
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input">
						<span class="custom-control-indicator"></span>
					</label>
				</td>
				<td class="order-item-list_icon" rowspan="4">
					<div class="img-circle" style="background: red; height: 1.3rem; width: 1.3rem;"></div>
				</td>
				<td class="order-item-list_panel" rowspan="4">
					Static 6-sheet
					<br>
					<strong>
						SKUK571235325337
					</strong>
				</td>
				<td class="order-item-list_size" rowspan="4"></td>
				<td class="order-item-list_start">
					7 Nov 2016
				</td>
				<td class="order-item-list_period">
					7 days
				</td>
				<td class="order-item-list_day-part">6am - 2pm </td>
				<td class="order-item-list_length">10 sec</td>
				<td class="order-item-list_loop">7 times per 2 min</td>
				<td class="table-price order-item-list_price">£1266.00</td>
			</tr>
			<tr>
				<td class="order-item-list_start">
					7 Nov 2016
				</td>
				<td class="order-item-list_period">
					7 days
				</td>
				<td class="order-item-list_day-part">6am - 2pm </td>
				<td class="order-item-list_length">10 sec</td>
				<td class="order-item-list_loop">7 times per 2 min</td>
				<td class="table-price order-item-list_price">£1266.00</td>
			</tr>
			<tr>
				<td class="order-item-list_start">
					7 Nov 2016
				</td>
				<td class="order-item-list_period">
					7 days
				</td>
				<td class="order-item-list_day-part">
					6am - 2pm
				</td>
				<td class="order-item-list_length">
					10 sec
				</td>
				<td class="order-item-list_loop">
					7 times per 2 min
				</td>
				<td class="table-price order-item-list_price">
					£1266.00
				</td>
			</tr>
			<tr>
				<td class="table-price order-item-list_subtotal" colspan="6">
					£13566.00
				</td>
			</tr>
			</tbody>

			<tbody class="table-row-group table-active">
			<tr>
				<td class="table-checkbox order-item-list_checkbox" rowspan="4">
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input">
						<span class="custom-control-indicator"></span>
					</label>
				</td>
				<td class="order-item-list_icon" rowspan="4">
					<div class="img-circle" style="background: red; height: 1.3rem; width: 1.3rem;"></div>
				</td>
				<td class="order-item-list_panel" rowspan="4">
					Static 6-sheet
					<br>
					<strong>
						SKUK571235325337
					</strong>
				</td>
				<td class="order-item-list_size" rowspan="4"></td>
				<td class="order-item-list_start">
					7 Nov 2016
				</td>
				<td class="order-item-list_period">
					7 days
				</td>
				<td class="order-item-list_day-part">6am - 2pm </td>
				<td class="order-item-list_length">10 sec</td>
				<td class="order-item-list_loop">7 times per 2 min</td>
				<td class="table-price order-item-list_price">£1266.00</td>
			</tr>
			<tr>
				<td class="order-item-list_start">
					7 Nov 2016
				</td>
				<td class="order-item-list_period">
					7 days
				</td>
				<td class="order-item-list_day-part">6am - 2pm </td>
				<td class="order-item-list_length">10 sec</td>
				<td class="order-item-list_loop">7 times per 2 min</td>
				<td class="table-price order-item-list_price">£1266.00</td>
			</tr>
			<tr>
				<td class="order-item-list_start">
					7 Nov 2016
				</td>
				<td class="order-item-list_period">
					7 days
				</td>
				<td class="order-item-list_day-part">
					6am - 2pm
				</td>
				<td class="order-item-list_length">
					10 sec
				</td>
				<td class="order-item-list_loop">
					7 times per 2 min
				</td>
				<td class="table-price order-item-list_price">
					£1266.00
				</td>
			</tr>
			<tr>
				<td class="table-price order-item-list_subtotal" colspan="6">
					£13566.00
				</td>
			</tr>
			</tbody>

			<tbody class="table-row-group table-non-hover-row">
			<tr>
				<td class="p-a-0" colspan="10">
					<h3 class="table-title m-t-3">
						Digital panels
					</h3>
				</td>
			</tr>
			</tbody>

			<thead>
			<tr>
				<th class="table-checkbox order-item-list_checkbox"></th>
				<th class="order-item-list_icon"></th>
				<th class="order-item-list_panel">Panel type / ID</th>
				<th class="order-item-list_size">Size</th>
				<th class="order-item-list_start">Week commencing</th>
				<th class="order-item-list_period">Period</th>
				<th class="order-item-list_day-part">Day part</th>
				<th class="order-item-list_length">Length</th>
				<th class="order-item-list_loop">Loop</th>
				<th class="table-price order-item-list_price">Price</th>
			</tr>
			</thead>

		</table>

	</div>

	<div class="container-lg bg-gray">
		<div class="block-base_condensed flex flex-end">
			<div class="block-xs">
				<div class="flex flex-space-between m-y-1">
					<div>
						Total charge (panels and production)
					</div>
					<div class="text-right text-regular">
						£1,784.00
					</div>
				</div>
				<div class="flex flex-space-between m-y-1">
					<div>
						Total Excl. VAT
					</div>
					<div class="text-right text-regular">
						£484.00
					</div>
				</div>
				<div class="flex flex-space-between m-y-1">
					<div>
						VAT (20%)
					</div>
					<div class="text-right text-regular">
						£1,744.00
					</div>
				</div>

				<hr>

				<div class="flex flex-space-between m-y-1 h5 text-primary">
					<div>
						Total charge (panels and production)
					</div>
					<div class="text-right text-regular">
						£15,784.00
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
