<section class="invoice_wrapper">
	<div class="invoice_container">

		<div class="hidden-print flex flex-space-between flex-align-end m-y-2">
			<a href="javascript:window.print()">
				Set up direct debit
			</a>
			<a href="#" class="btn btn-outline-primary">
				Print or save PDF
			</a>
		</div>

		<div class="invoice">
			<div class="invoice_header">
				<div class="invoice_header_left">
					<div class="bg-inverse p-a-1 d-inline-block">LOGO</div>

					<h1 class="text-primary display-2">
						Invoice
					</h1>
				</div>
				<div class="invoice_header_right">
					<table class="table table-not-bordered table-sm">
						<tr>
							<td class="invoice-title">
								Invoice No.
							</td>

							<td class="">
								353794
							</td>
						</tr>
						<tr>
							<td class="invoice-title">
								Invoice Date
							</td>

							<td class="">
								30.10.2016
							</td>
						</tr>
						<tr>
							<td class="invoice-title">
								Order No.
							</td>

							<td class="">
								353794
							</td>
						</tr>

						<tr>
							<td colspan="2" class="p-t-0_3"></td>
						</tr>

						<tr>
							<td class="invoice-title">
								Billed to
							</td>

							<td class="">
								<h6>
									Jennifer McNeil
								</h6>
								Pure Essence Greetings 702 Smethwick Enterprise Centre, Rolfe Street
							</td>
						</tr>
						<tr>
							<td class="invoice-title">
								VAT
							</td>

							<td class="">
								56789098765467890
							</td>
						</tr>
						<tr>
							<td class="invoice-title">
								Phone
							</td>

							<td>
								56789098765467890
							</td>
						</tr>

					</table>
				</div>
			</div>
			<div class="invoice_content">
				<h6 class="invoice-title">
					Campaign:
				</h6>
				<p>
					Description lorem ipsum doloro
				</p>

				<table class="table order-item-list table-md invoice_order-item-list">
					<thead>
					<tr>
						<th class="order-item-list_panel">Panel type / ID</th>
						<th class="order-item-list_start"
							data-tooltip="Your week will be displayed within 5 days of the stated date"
							data-tooltip-pos="up" data-tooltip-length='md'>
							Week commencing
						</th>
						<th class="order-item-list_period">Period</th>
						<th class="order-item-list_day-part"></th>
						<th class="order-item-list_length"></th>
						<th class="order-item-list_loop"></th>
						<th class="table-price order-item-list_price">Price</th>
					</tr>
					</thead>

					<tr>
						<td class="order-item-list_panel">
							Static 6-sheet
							<br>
							<strong>
								SKUK571235325337
							</strong>
						</td>
						<td class="order-item-list_start">
							7 Nov 2016
						</td>
						<td class="order-item-list_period">
							7 days
						</td>
						<td class="order-item-list_day-part"></td>
						<td class="order-item-list_length"></td>
						<td class="order-item-list_loop"></td>
						<td class="table-price order-item-list_price">
							£966.00
						</td>
					</tr>
					<tr>
						<td class="order-item-list_panel">
							Static 6-sheet
							<br>
							<strong>
								SKUK571235325337
							</strong>
						</td>
						<td class="order-item-list_start">
							7 Nov 2016
						</td>
						<td class="order-item-list_period">
							7 days
						</td>
						<td class="order-item-list_day-part"></td>
						<td class="order-item-list_length"></td>
						<td class="order-item-list_loop"></td>
						<td class="table-price order-item-list_price">
							£966.00
						</td>
					</tr>
					<tr>
						<td class="order-item-list_panel">
							Static 6-sheet
							<br>
							<strong>
								SKUK571235325337
							</strong>
						</td>
						<td class="order-item-list_start">
							7 Nov 2016
						</td>
						<td class="order-item-list_period">
							7 days
						</td>
						<td class="order-item-list_day-part"></td>
						<td class="order-item-list_length"></td>
						<td class="order-item-list_loop"></td>
						<td class="table-price order-item-list_price">
							£966.00
						</td>
					</tr>
					<tr>
						<td class="order-item-list_panel">
							Static 6-sheet
							<br>
							<strong>
								SKUK571235325337
							</strong>
						</td>
						<td class="order-item-list_start">
							7 Nov 2016
						</td>
						<td class="order-item-list_period">
							7 days
						</td>
						<td class="order-item-list_day-part"></td>
						<td class="order-item-list_length"></td>
						<td class="order-item-list_loop"></td>
						<td class="table-price order-item-list_price">
							£966.00
						</td>
					</tr>
					<tr>
						<td class="order-item-list_panel">
							Static 6-sheet
							<br>
							<strong>
								SKUK571235325337
							</strong>
						</td>
						<td class="order-item-list_start">
							7 Nov 2016
						</td>
						<td class="order-item-list_period">
							7 days
						</td>
						<td class="order-item-list_day-part"></td>
						<td class="order-item-list_length"></td>
						<td class="order-item-list_loop"></td>
						<td class="table-price order-item-list_price">
							£966.00
						</td>
					</tr>


				</table>

				<table class="table table-not-bordered table-md invoice_total">
					<tr>
						<td>
							Total charge (panels and production)
						</td>
						<td class="text-right text-regular">
							£1,784.00
						</td>
					</tr>
					<tr>
						<td>
							Total Excl. VAT
						</td>
						<td class="text-right text-regular">
							£484.00
						</td>
					</tr>
					<tr>
						<td>
							VAT (20%)
						</td>
						<td class="text-right text-regular">
							£484.00
						</td>
					</tr>
					<tr>
						<td class="text-primary invoice_grand-total">
							Grand total
						</td>
						<td class="text-right text-regular text-primary invoice_grand-total">
							£12 484.00
						</td>
					</tr>
				</table>

			</div>

			<div class="invoice_footer">
				<div class="m-r-1">
					<h6 class="text-primary">
						Signkick LTD
					</h6>
					<p class="m-b-0_3">
						JCDecaux Street Furniture Belgium, Allée Verte, 50 Groendreef, Bruxelles 1000 Brussel, Belgium
					</p>
					<p class="m-b-0">
						<span class="p-r-1">
							<span class="invoice-subtitle">
							VAT No.:
							</span>
						5467890987654
						</span>

						<span class="p-r-1">
							<span class="invoice-subtitle">
								Company No.:
							</span>
						5467890987654
						</span>
					</p>
				</div>
				<div>
					<h6 class="">
						Bank details
					</h6>
					Bank details, Iban, BIC etc Brussel, Belgium
				</div>
			</div>

		</div><!-- Invoice sheet end-->
	</div><!-- Invoice container end-->
</section>