<footer class="main-footer">
     <div class="main-footer_container">
          <div class="main-footer_top">
               <div class="main-footer_brand">
                    <div class="main-footer_logo">LOGO</div>
                    <p class="main-footer_discription">
                         Signkick lets you search for outdoor advertising in your local area. Billboards, bus shelters, digital screens and many more.
                    </p>
               </div>

               <div class="main-footer_list">
                    <h6 class="main-footer_title">
                         Company
                    </h6>
                    <a href="" class="main-footer_li main-footer_link">
                         About Signkick
                    </a>
                    <a href="" class="main-footer_li main-footer_link">
                         Careers
                    </a>
                    <a href="" class="main-footer_li main-footer_link">
                         Press and media
                    </a>
                    <a href="" class="main-footer_li main-footer_link">
                         Partners
                    </a>
               </div>
               <div class="main-footer_list">
                    <h6 class="main-footer_title">
                         Company
                    </h6>
                    <a href="" class="main-footer_li main-footer_link">
                         About Signkick
                    </a>
                    <a href="" class="main-footer_li main-footer_link">
                         Careers
                    </a>
                    <a href="" class="main-footer_li main-footer_link">
                         Press and media
                    </a>
                    <a href="" class="main-footer_li main-footer_link">
                         Partners
                    </a>
               </div>
               <div class="main-footer_list main-footer_list__last">
                    <h6 class="main-footer_title">
                         Company
                    </h6>
                    <a href="" class="main-footer_li main-footer_link">
                         About Signkick
                    </a>
                    <a href="" class="main-footer_li main-footer_link">
                         Careers
                    </a>
                    <a href="" class="main-footer_li main-footer_link">
                         Press and media
                    </a>
                    <a href="" class="main-footer_li main-footer_link">
                         Partners
                    </a>
               </div>

               <div class="main-footer_last-block">
                    <div class="main-footer_subscribe">
                         <h6 class="main-footer_title">
                              Subscribe to our newsletter
                         </h6>

                         <div class="input-group form-group ui-form_group main-footer_subscribe_form">
                              <div class="ui-form flex-grow-1">
                                   <input type="email" class="form-control ui-form_input ui-form_input__sm" id="footer-suscribe" aria-describedby="emailHelp">
                                   <label class="ui-form_label" for="footer-suscribe">Your email</label>
                              </div>
                              <button class="btn-primary  input-group-btn">GO</button>
                         </div>

                         <p class="text-light d-none">
                              We won't spam! We promise.
                         </p>

                    </div>

                    <div>
                         <a href="#" class="btn btn-outline btn-square">F</a>
                         <a href="#" class="btn btn-outline btn-square">t</a>
                         <a href="#" class="btn btn-outline btn-square">Y</a>
                    </div>
               </div>
          </div>
          <div class="main-footer_bottom grid-md-gap">
               <p class="main-footer_copy">
                    © SK Advertising Ltd. Use of this website is subject to our privacy policy.
               </p>
          </div>
     </div>
</footer>
