<footer class="main-footer">
     <div class="main-footer_container">
          <div class="main-footer_top">
               <div class="main-footer_brand">
                    <div class="main-footer_logo">
                         <div class="logo-svg_wrapper">
                              <img class="logo-svg" src="./../../../app/content-pages/img/signkick-logo.svg" alt="Signkick">
                         </div>
                    </div>
                    <p class="main-footer_discription">
                         Signkick lets you search for outdoor advertising in your local area. Billboards, bus shelters, digital screens and many more.
                    </p>
                    <ul class="list-inline">
                         <li>
                              <a href="/tech" class="main-footer_li main-footer_link">
                                   For media owners
                              </a>
                         </li>
                         <li>・</li>
                         <li>
                         <a href="./search" class="main-footer_li main-footer_link">
                                   Search Advertising Spaces
                              </a>
                         </li>
                         <li>・</li>
                         <li>
                              <a href="./policy" class="main-footer_li main-footer_link">
                                   Privacy Policy
                              </a>
                         </li>
                         <li>・</li>
                         <li>
                              <a href="./terms" class="main-footer_li main-footer_link">
                                   Terms and Conditions
                              </a>
                         </li>
                         <li>・</li>
                         <li>
                              <a href="http://www.signkick.co.uk/blog/" target="_blank" class="main-footer_li main-footer_link">
                                   Blog
                              </a>
                         </li>
                         <li>・</li>
                         <li>
                              <a href="http://www.signkick.co.uk/faq/" target="_blank" class="main-footer_li main-footer_link">
                                   FAQ
                              </a>
                         </li>
                         <li>・</li>
                         <li>
                              <a href="./about-us" target="_blank" class="main-footer_li main-footer_link">
                                   About us
                              </a>
                         </li>
                    </ul>
               </div>

               <div class="main-footer_last-block">
                    <!--<div class="main-footer_subscribe">-->
                         <!--<h6 class="main-footer_title">-->
                              <!--Subscribe to our newsletter-->
                         <!--</h6>-->

                         <!--<div class="input-group form-group ui-form_group main-footer_subscribe_form">-->
                              <!--<div class="ui-form flex-grow-1">-->
                                   <!--<input type="email" class="form-control ui-form_input ui-form_input__sm" id="footer-suscribe" aria-describedby="emailHelp">-->
                                   <!--<label class="ui-form_label" for="footer-suscribe">Your email</label>-->
                              <!--</div>-->
                              <!--<button class="btn-primary  input-group-btn">GO</button>-->
                         <!--</div>-->

                         <!--<p class="text-light d-none">-->
                              <!--We won't spam! We promise.-->
                         <!--</p>-->

                    <!--</div>-->

                    <div>
                         <a href="https://www.facebook.com/SignkickOOH/" target="_blank" class="btn btn-outline btn-square">
                              <i class="fa fa-facebook"></i>
                         </a>
                         <a href="twitter.com/SignkickUK" class="btn btn-outline btn-square" target="_blank" >
                              <i class="fa fa-twitter"></i>
                         </a>
                         <a href="https://www.linkedin.com/company/signkick" class="btn btn-outline btn-square" target="_blank">
                              <i class="fa fa-linkedin"></i>
                         </a>
                    </div>
               </div>
          </div>
          <div class="main-footer_bottom grid-md-gap">
               <p class="main-footer_copy">
                    © SK Advertising Ltd. Use of this website is subject to our privacy policy.
               </p>
          </div>
     </div>
</footer>
