@mixin icon-size($icon-size: $font-size-base) {
  width: $icon-size * 1.3;
  height: $icon-size;
}

@mixin icon-color($color: currentColor) {
  fill: $color;
}

@mixin line-icon-color($color: currentColor) {
  stroke: $color;
}