@import "theme/variables";

@import "base/mixins";
@import "base/images/_images";
@import "base/_layout/nav/top-nav__hero";
@import "base/text/links";

@import "app/content-pages/content-base";
@import "var-home.scss";
@import "hero-home_screen";
@import "hero-home";
@import "frame-types-chart";
@import "space-types.component";

.content-page_price {
  font-size: 3rem;
  font-weight: $font-weight-base;
  margin-right: .3rem;
  margin-left: .3rem;
}

.content-page_price-period,
.content-page_price-from  {
  font-weight: $font-weight-regular;
}

.partner-logo {
  filter: grayscale(1) opacity(.7);
}

.blend-multiply {
  mix-blend-mode: multiply;
  will-change: opacity;
}