<top-nav class="top-nav__hero_light-back"></top-nav>
<section class="hero-home grid-md grid-gap">

	<a href="#media-owners" class="hero-arrow-down hidden-md-up">
		<i class="fa fa-angle-down"></i>
	</a>

	<div class="hero-home_left">
		<div class="half-container half-container__left block-base-x">
			<h1 class="display-1 hero-home_display text-primary">
				Easy outdoor advertising
			</h1>
			<p class="p-lead">
				Signkick lets you search for outdoor advertising in your local area. Billboards, bus shelters, digital
				screens and many more.<br />
				&nbsp;<br />
				Simply create an account below and use our online map to view locations, prices, photos and
				availability. If you like what you see select the dates you want and buy online.
			</p>
			<p>
				<a href="/search" class="btn btn-primary btn-lg">Start searching</a>
			</p>
		</div>
	</div>

	<div class="hero-home_right">
		<div class="hero-home_screen">
			<img src="./img/hero-screen.png" class="img-fluid" alt="Signkick interface preview">
		</div>
	</div>

</section>

<!-- For Media owners -->
<section id="media-owners" class="bg-inverse grid-md-gap block-base-y">
	<div>
		<div class="half-container half-container__left block-base-x">
			<h2 class="display-2 text-primary">
				Are you a media owner?
			</h2>
			<p class="p-lead p-lead__inverse">
				Signkick Tech has created a range of software just for media owners. Our SaaS solutions enable creation
				of bespoke self-branded online sales platforms, we also offer order and inventory management and channel
				management for the future of programmatic transactions. Our software delivers new ways of selling
				and real business efficiencies fast.
			</p>
			<a href="/tech" class="btn btn-outline-primary">
				Learn more
			</a>

			<section class="logos-container m-t-3">
				<div class="p-a-0_5">
					<img src="./img/logo-JCDecaux-white.svg" class="partner-logo" alt="JCDecaux" style="max-height: 3rem">
				</div>
				<div class="p-a-0_5">
					<img src="./img/logo-primesight-white.png" class="partner-logo" alt="Primesight" style="max-height: 2rem">
				</div>
				<div class="p-a-0_5">
					<img src="./img/logo-kong-outdoor-white.png" class="partner-logo" alt="kong outdoor" style="max-height: 3rem">
				</div>
			</section>
		</div>
	</div>

	<div class="screenshot screenshot__right">
		<div class="img-frame screenshot__shadow">
			<img src="img/signkick-tech.jpg" alt="Signkick Tech">
		</div>
	</div>

</section>

<!-- Feature 1, screen on left -->
<section id="features" class="grid-md-gap flex-row-reverse block-base-y">
	<div>
		<div class="half-container half-container__right block-base-x">
			<h3 class="display-3">
				Search
			</h3>

			<p class="p-lead">
				Once you’ve created an account you’ll see our online map. Zoom in to the area you’re interested in and
				using the filter box you can search for availability by date and narrow down the formats you’re looking
				for.
			</p>

			<div class="intext-testimonial">
				<div class="intext-testimonial_pic">
					<img class="bg-gray img-fluid img-circle" src="img/testimonials/customerJontyYoung.png">
				</div>

				<div>
					<p class="intext-testimonial_p">
						“Getting exposure via outdoor display advertising can be amazingly expensive. Signkick have a
						solution that is simple, speedy and cost effective. Perfect for an up and coming organisation
						like NACUE.“
					</p>
					<p class="intext-testimonial_sign">
						<span class="text-uppercase">JONTY YOUNG</span>, Head of Communications at NACUE
					</p>
				</div>
			</div>

		</div>
	</div>
	<div class="screenshot screenshot__left">
		<div class="screenshot_frame">
			<img src="img/ui-preview/signkick-ui-search.jpg" alt="Signkick search page">
		</div>
	</div>
</section>

<!-- Feature 2, screen on right -->
<section id="feature-2" class="grid-md-gap block-base-y">
	<div>
		<div class="half-container half-container__left block-base-x">
			<h3 class="display-3">
				Select and Buy
			</h3>

			<p class="p-lead">
				The pins on the map show different types of advertising space. click on one and on the view details
				button to see a view of the space, prices and when its available over the next 12 months. If you like
				what you see simply add it to your cart and check out.
			</p>

			<div class="intext-testimonial">
				<div class="intext-testimonial_pic">
					<img class="bg-gray img-fluid img-circle" src="img/testimonials/customerMaxHenderson.png">
				</div>

				<div>
					<p class="intext-testimonial_p">
						“Signkick is a great concept - it allowed us to hand-select advertising space at a very
						reasonable price in exactly the locations we wanted. For launching new venues or generally
						raising awareness of our brand, it is ideal.“
					</p>
					<p class="intext-testimonial_sign">
						<span class="text-uppercase">MAX HENDERSON</span>, Owner at Hotpod Yoga
					</p>
				</div>
			</div>

		</div>
	</div>

	<div class="screenshot screenshot__right">
		<div class="screenshot_frame">
			<img src="img/ui-preview/signkick-ui-frame-preview.jpg" alt="Signkick Ad space preview">
		</div>
	</div>

</section>

<!-- Feature 3, screen on left -->
<section id="feature-3" class="grid-md-gap flex-row-reverse block-base-y">
	<div>
		<div class="half-container half-container__right block-base-x">
			<p class="m-b-2">
				<span class="tag tag-primary-outline tag-square">
					NEW
				</span>
			</p>

			<h3 class="display-3">
				Check out and Delivery Tracking
			</h3>

			<p class="p-lead">
				Once you've reviewed your cart and checked out we'll ask for 24hr's to confirm your booking. Remember
				artwork isnt needed to complete your booking but we will need it around 2 weeks before your campaigns
				is due to go live. You can upload your artwork and track the progress of your orders using the delivery
				dashboard.
			</p>

			<div class="intext-testimonial">
				<div class="intext-testimonial_pic">
					<img class="bg-gray img-fluid img-circle" src="img/testimonials/customerRosaGlover.png">
				</div>

				<div>
					<p class="intext-testimonial_p">
						“With Signkick we were able to easily target our advertising campaign using the right spaces in
						Shoreditch (London). Super happy with their streamlined service!”
					</p>
					<p class="intext-testimonial_sign">
						<span class="text-uppercase">ROSA GLOVER</span>, Global Programmes Manager at Techhub
					</p>
				</div>
			</div>

		</div>
	</div>
	<div class="screenshot screenshot__left">
		<div class="screenshot_frame">
			<img src="img/ui-preview/signkick-ui-order-details.png" alt="Signkick Order trecking">
		</div>
	</div>
</section>

<!-- Ad space types, tabs -->

<section id="ad-spaces" class="block-base-y bg-gray space-types">
<!-- TODO Make reliable tabes with JS, example http://w3c.github.io/aria-practices/examples/tabs/tabs-1/tabs.html -->

	<div class="flex-centered-range container-lg space-types_tabs">
		<h6 class="subtitle m-r-1 m-b-0_3 hidden-md-down">
			Ad spaces types:
		</h6>
		<label role="tab" tabindex="0" class="tabs_nav_link" for="6-sheets">6 sheet</label>
		<label role="tab" tabindex="1" class="tabs_nav_link" for="48-sheets">48 Sheets</label>
		<label role="tab" tabindex="2" class="tabs_nav_link" for="96-sheets">96 Sheets</label>
		<label role="tab" tabindex="3" class="tabs_nav_link" for="digital-forecourts">Digital Forecourts</label>
		<label role="tab" tabindex="4" class="tabs_nav_link" for="malls">Malls</label>
		<label role="tab" tabindex="5" class="tabs_nav_link" for="digital-6-sheets">Digital Super 6</label>
		<label role="tab" tabindex="6" class="tabs_nav_link" for="digital-environments">Digital Environments</label>
	</div>

	<input type="radio" name="tabs" id="6-sheets" class="tab-input" checked />
	<div class="tab-content">
		<div class="grid-md-gap block-base-y">
		<div>
			<div class="half-container half-container__left block-base-x">
				<h3 class="display-3">
					6 sheets
				</h3>

					<div class="p-lead">
				<p>
					6 sheets are the most populous size of outdoor advertising in the UK. They are everywhere and also
					in most environments; railway stations, shopping centres, the underground etc.
				</p>
						<p>
					Due to their size, unlike bigger formats they can be found right in the heart of towns and cities
					and are perfect for local messaging.
				</p>
					</div>

				<div class="content-page_price-block m-b-3">
					<p class="m-b-0">
						<span class="content-page_price-from">From</span>
						<span class="content-page_price">£234</span>
						<span class="content-page_price-period">/ per 2 weeks</span>
					</p>
					<p class="text-sm text-muted">
						including print and placement
					</p>
				</div>


				<div class="flex flex-space-between flex-align-center">
					<a href="./search" class="btn btn-primary">Search panels</a>

					<a href="./img/6-sheet-spec-sheet.pdf" target="_blank" class="btn-link">
						<i class="fa fa-file-pdf-o m-r-0_3"></i> Specifications
					</a>
				</div>
			</div>
		</div>

		<div>
			<img src="./img/6-sheet.jpg" class="img-frame img-fluid space-types_img space-types_img" alt="">
		</div>
	</div>
	</div>

	<input type="radio" name="tabs" id="48-sheets" class="tab-input" />
	<div class="tab-content">
		<div class="grid-md-gap block-base-y">
		<div>
			<div class="half-container half-container__left block-base-x">
				<h3 class="display-3">
					48 sheets
				</h3>

				<p class="p-lead">
					Are what most people think of when they imagine a billboard. This is the main noticeboard in towns
					and cities across the country and are 20ft x 10ft in size. They're great for making a big
					announcement or getting your brand seen.<br />
					&nbsp;<br />
					48 sheets come in various types, Back lights (BL48) which have lighting from behind, Digital 48’s
					(D48) which are massive digital screens and printed 48’s (48) which are printed posted placed onto
					the billboard and are most common.
				</p>

				<div class="content-page_price-block m-b-3">
					<p class="m-b-0">
						<span class="content-page_price-from">From</span>
						<span class="content-page_price">£484</span>
						<span class="content-page_price-period">/ per 2 weeks</span>
					</p>
					<p class="text-sm text-muted">
						including print and placement D48 and BL48 available on request
					</p>
				</div>


				<div class="flex flex-space-between flex-align-center">
					<a href="./search" class="btn btn-primary">Search panels</a>

					<a href="./img/6-sheet-spec-sheet.pdf" target="_blank" class="btn-link">
						<i class="fa fa-file-pdf-o m-r-0_3"></i> Specifications
					</a>
				</div>
			</div>
		</div>
		<div>
			<img src="./img/48-sheet.jpg" class="img-frame img-fluid space-types_img" alt="">
		</div>
	</div>
	</div>

	<input type="radio" name="tabs" id="96-sheets" class="tab-input" />
	<div class="tab-content">
		<div class="grid-md-gap block-base-y">
		<div>
			<div class="half-container half-container__left block-base-x">
				<h3 class="display-3">
					96 sheets
				</h3>

				<p class="p-lead">
					The biggest of the standard sizes of billboards these 40ft x 10ft ad spaces are for making a BIG
					statement.
					<br>
					48 sheets come in various guises, Back lights (BL48) which have lighting from behind, Digital 48's
					(D48) which are massive digital screens and Printed 48's (48) which are printed posters places onto
					the billboard and are most common.
				</p>

				<div class="content-page_price-block m-b-3">
					<p class="m-b-0">
						<span class="content-page_price-from">From</span>
						<span class="content-page_price">£936</span>
						<span class="content-page_price-period">/ per 2 weeks</span>
					</p>
					<p class="text-sm text-muted">
						including print and placement D96 and BL96 available on request
					</p>
				</div>

				<div class="flex flex-space-between flex-align-center">
					<a href="./search" class="btn btn-primary">Search panels</a>

					<a href="./img/6-sheet-spec-sheet.pdf" target="_blank" class="btn-link">
						<i class="fa fa-file-pdf-o m-r-0_3"></i> Specifications
					</a>
				</div>

			</div>
		</div>
		<div>
			<img src="./img/96-sheet.jpg" class="img-frame img-fluid space-types_img" alt="">
		</div>
	</div>
	</div>

	<input type="radio" name="tabs" id="digital-forecourts" class="tab-input" />
	<div class="tab-content">
		<div class="grid-md-gap block-base-y">
		<div>
			<div class="half-container half-container__left block-base-x">
				<h3 class="display-3">
					Digital Forecourts
				</h3>

				<p class="p-lead">
					Digital Screens at the till point in Petrol stations, these digital panels are brilliant for
					targeting the on-the-go consumer in the local area.
				</p>
				<div class="content-page_price-block m-b-3">
					<p class="m-b-0">
						<span class="content-page_price-from">From</span>
						<span class="content-page_price">£144</span>
						<span class="content-page_price-period">/ per 2 weeks</span>
					</p>
				</div>

				<div class="flex flex-space-between flex-align-center">
					<a href="./search" class="btn btn-primary">Search panels</a>

					<a href="./img/6-sheet-spec-sheet.pdf" target="_blank" class="btn-link">
						<i class="fa fa-file-pdf-o m-r-0_3"></i> Specifications
					</a>
				</div>
			</div>
		</div>
		<div>
			<img src="./img/forecourt-digital.jpg" class="img-frame img-fluid space-types_img" alt="">
		</div>
	</div>
	</div>

	<input type="radio" name="tabs" id="malls" class="tab-input" />
	<div class="tab-content">
		<div class="grid-md-gap block-base-y">
		<div>
			<div class="half-container half-container__left block-base-x">
				<h3 class="display-3">
					Malls
				</h3>

				<p class="p-lead">
					Malls are the ultimate in consumer targeting. Whether using classic printed posters or digital
					screens you can speak to a huge number of consumers whilst they're in a relaxed frame of mind.<br />
					<br />
					We have posters in various sizes including mall furniture (Pictured), Digital Screens, Adlifts and
					banners.
				</p>

				<div class="content-page_price-block m-b-3">
					<p class="m-b-0">
						<span class="content-page_price-from">From</span>
						<span class="content-page_price">£380</span>
						<span class="content-page_price-period">/ per 2 weeks</span>
					</p>
					<p class="text-sm text-muted m-a-0">
						including print and placement
					</p>
				</div>

				<div class="flex flex-space-between flex-align-center">
					<a href="./search" class="btn btn-primary">Search panels</a>

					<span class="text-muted">
						<i class="fa fa-file-pdf-o m-r-0_3"></i> Specifications on request
					</span>
				</div>
			</div>
		</div>
		<div>
			<img src="./img/malls.jpg" class="img-frame img-fluid space-types_img" alt="">
		</div>
	</div>
	</div>

	<input type="radio" name="tabs" id="digital-6-sheets" class="tab-input" />
	<div class="tab-content">
		<div class="grid-md-gap block-base-y">
		<div>
			<div class="half-container half-container__left block-base-x">
				<h3 class="display-3">
					Digital Super 6
				</h3>

				<p class="p-lead">
					Digital Super 6's are the digital noticeboard for London. They're available to buy flexibly,
					meaning you can buy mornings, afternoons or evenings for as little as one day.
				</p>

				<div class="content-page_price-block m-b-3">
					<p class="m-b-0">
						<span class="content-page_price-from">From</span>
						<span class="content-page_price">£80</span>
						<span class="content-page_price-period">/ per day</span>
					</p>
				</div>

				<div class="flex flex-space-between flex-align-center">
					<a href="./search" class="btn btn-primary">Search panels</a>

					<span class="text-muted">
						<i class="fa fa-file-pdf-o m-r-0_3"></i> Specifications on request
					</span>
				</div>
			</div>
		</div>
		<div>
			<img src="./img/digital-super-6.jpg" class="img-frame img-fluid space-types_img" alt="Digital Super 6 sheets" >
		</div>
	</div>
	</div>

	<input type="radio" name="tabs" id="digital-environments" class="tab-input" />
	<div class="tab-content">
		<div class="grid-md-gap block-base-y">
			<div>
				<div class="half-container half-container__left block-base-x">
					<h3 class="display-3">
						Digital Environments
					</h3>

					<p class="p-lead">
						Available across Offices, Golf clubs, Malls, Post offices and spread across the country. These
						premium displays are excellent for targeting a local and definable audience with flexible
						purchase periods and low entry costs.
					</p>

					<div class="content-page_price-block m-b-3">
						<p class="m-b-0">
							<span class="content-page_from">From</span>
							<span class="content-page_price">£150</span>
							<span class="content-page_price-period">/ per week</span>
						</p>
					</div>

					<div class="flex flex-space-between flex-align-center">
						<a href="./search" class="btn btn-primary">Search panels</a>

						<a href="./img/6-sheet-spec-sheet.pdf" target="_blank" class="btn-link">
							<i class="fa fa-file-pdf-o m-r-0_3"></i> Specifications
						</a>
					</div>
				</div>
			</div>
			<div>
				<img src="./img/digital.png" class="img-frame img-fluid space-types_img" alt="">
			</div>
		</div>
	</div>
</section>

<!-- Partner Logos -->
<section id="partners" class="bg-gray">
	<div class="container logos-container flex-centered-range">
		<div class="p-a-0_5">
			<img src="./img/logo-JCDecaux.svg" class="partner-logo blend-multiply" alt="JCDecaux" style="max-height: 3rem">
		</div>
		<div class="p-a-0_5">
			<img src="./img/logo-primesight.png" class="partner-logo blend-multiply" alt="Primesight" style="max-height: 2rem">
		</div>
		<div class="p-a-0_5">
			<img src="./img/logo-kong-outdoor.png" class="partner-logo blend-multiply" alt="kong outdoor" style="max-height: 3rem">
		</div>
		<div class="p-a-0_5">
			<img src="./img/logo-clear-channel.png" class="partner-logo blend-multiply" style="max-height: 2rem">
		</div>
		<div class="p-a-0_5">
			<img src="./img/logo-adpod.png" class="partner-logo blend-multiply"  style="max-height: 2rem">
		</div>
		<div class="p-a-0_5">
			<img src="./img/logo-limited-space.png" class="partner-logo blend-multiply" style="max-height: 2.4rem">
		</div>
		<div class="p-a-0_5">
			<img src="./img/logo-exterion-media.svg" class="partner-logo blend-multiply"  style="max-height: 2rem">
		</div>
	</div>
</section>

<!-- Cities -->
<section id="cities" class="cities-section bg-primary">
	<div class="container-xs block-base text-center">
		<h3>
			Ready to get started?
		</h3>
		<div class="text-lg">
			Create an account to search for ad spaces.
		</div>

		<div class="form__semi-transparent m-b-0">
			<a href="/search" class="btn btn-white-alpha btn-xl m-y-2 text-uppercase">
				Get started
			</a>
		</div>
	</div>
</section>

<main-footer></main-footer>
