<top-nav class="top-nav__hero_light-back"></top-nav>

<section class="hero-home grid-md grid-gap">

	<a href="#media-owners" class="hero-arrow-down hidden-md-up">
		<svg class="icon line-icon icon-xlg icon-brand rotate-180">
			<use xlink:href="#icon-angle"></use>
		</svg>
	</a>

	<div class="hero-nav">
		<a href="#" class="hero-nav_link">For media owners</a>
		<a href="#" class="hero-nav_link">Features</a>
		<a href="#" class="hero-nav_link">Partners</a>
		<a href="#" class="hero-nav_link">Cities</a>
		<a href="#" class="hero-nav_link">Blog</a>
		<a href="#" class="hero-nav_link">FAQ</a>
	</div>

	<div class="hero-home_left">
		<div class="half-container half-container__left block-base-x">
			<h1 class="display-1 hero-home_display text-primary">
				Easy outdoor advertising
			</h1>
			<p class="p-lead">
				Signkick lets you search for outdoor advertising in your local area. Billboards, bus shelters, digital screens and many more.
				Simply Create an account below and use our online map to view locations, prices, photos and availability. If you like what you see select the dates you want and buy online.
			</p>

			<div class="hero-home_form input-group form-group ui-form_group form__white-brand">
				<div class="ui-form flex-grow-1">
					<input type="email" class="form-control ui-form_input" id="exampleInputEmail1" aria-describedby="emailHelp">
					<label class="ui-form_label" for="exampleInputEmail1">
						Enter your email to create account
					</label>
				</div>
				<button class="btn btn-primary  input-group-btn p-x-1">
					GO
				</button>
			</div>

		</div>
	</div>

	<div class="hero-home_right">
		<div class="hero-home_screen">
			<div class="hero-home_screen_top">
				<div class="hero-home_screen_inside">
					<div class="hero-home_screen_frame-card">
						<svg class="icon">
							<use xlink:href="#icon-map-frame-card"></use>
						</svg>
					</div>
				</div>
			</div>
			<div class="hero-home_screen_bottom"></div>
			<div class="home-screen_stand">
				<svg viewBox="-1 0 345 102">
					<defs>
						<linearGradient x1="93.6339833%" y1="84.6117424%" x2="5.93175238%" y2="0%" id="linearGradient-1">
							<stop stop-color="#0B8AC2" offset="0%"></stop>
							<stop stop-color="#4BBFF1" offset="100%"></stop>
						</linearGradient>
					</defs>
					<path d="M276.839057,0 L66.1772908,0 C66.1772908,0 65.6182288,51.4671914 49.9725407,66.4435704 C34.3268526,81.4199532 5.72006805,83.0278879 1.35828671,87.7055133 C-0.245981616,90.6635813 -0.648399783,93.9033705 1.35828671,95.6787428 C12.3451077,101.387574 147.725001,100.99423 171.508172,100.99423 C195.291346,100.99423 330.67124,101.387574 341.658061,95.6787428 C343.662045,93.9033705 343.262329,90.6635813 341.658061,87.7055133 C337.296279,83.0278879 308.689495,81.4199532 293.043807,66.4435704 C277.398119,51.4671877 276.839057,0 276.839057,0 Z" id="Path-path-Copy" stroke="none" fill="url(#linearGradient-1)" fill-rule="evenodd" opacity="0.5"></path>
				</svg>
			</div>
		</div>
	</div>

</section>

<!-- For Media owners -->
<section id="media-owners" class="bg-inverse grid-md grid-gap grid-md-2 block-base-y">
	<div class="">
		<div class="half-container half-container__left block-base-x">
			<h2 class="display-2 text-primary">
				Are you a media owner?
			</h2>
			<p class="p-lead p-lead__inverse">
				Signkick have developed a great product to assist media owners. We offer features such as interactive mapping, customizable data layers, artwork management and delivery tracking all as out of the box solutions. This means we can deliver new ways of selling and real business efficiencies fast.
			</p>
			<a href="#" class="btn btn-outline-primary">
				Learn more
			</a>

			<section class="logos-container m-t-3">
				<div class="bg-gray p-a-1"> LOGO 1</div>
				<div class="bg-gray p-a-1"> LOGO 2</div>
				<div class="bg-gray p-a-1"> LOGO 3</div>
				<div class="bg-gray p-a-1"> LOGO 4</div>
			</section>
		</div>
	</div>

	<div class="screenshot screenshot__right">
		<div class="screenshot_frame screenshot__shadow">
			<img src="https://www.planwallpaper.com/static/images/kartandtinki1_photo-wallpapers_02.jpg" alt="">
		</div>
	</div>

</section>

<!-- Feature 1, screen on left -->
<section id="feature-1" class="grid-md grid-gap grid-md-2 flex-row-reverse block-base-y">
	<div class="">
		<div class="half-container half-container__right block-base-x">
			<p class="m-b-2">
				<span class="tag tag-primary-outline tag-square">
					NEW
				</span>
			</p>

			<h3 class="display-3">
				Search
			</h3>

			<p class="p-lead">
				Once you’ve created an account you’ll see our online map. Zoom in to the area you’re interested in and using the filter box you can search for availability by date and narrow down the formats you’re looking for.
			</p>

			<div class="intext-testimonial">
				<div class="intext-testimonial_pic">
					<div class="bg-gray img-fluid img-circle"></div>
				</div>

				<div>
					<p class="intext-testimonial_p">
						“Signkick have a solution that is simple, speedy and cost effective.“
					</p>
					<p class="intext-testimonial_sign">
						<span class="text-uppercase">JONTY YOUNG</span>, Head of Communications at NACUE
					</p>
				</div>
			</div>

		</div>
	</div>
	<div class="screenshot screenshot__left">
		<div class="screenshot_frame">
			<img src="https://4.bp.blogspot.com/-dFZSF8ZESBM/VIBYiGDfltI/AAAAAAABYbM/bNuPZ0bUHko/s0/Constance%2BHalaveli%2BMaldives%2BUHD.jpg" alt="">
		</div>
	</div>
</section>

<!-- Feature 2, screen on right -->
<section id="feature-2" class="grid-md grid-gap grid-md-2 block-base-y">
	<div class="">
		<div class="half-container half-container__left block-base-x">
			<p class="m-b-2">
				<span class="tag tag-primary-outline tag-square">
					NEW
				</span>
			</p>

			<h3 class="display-3">
				Select and Buy
			</h3>

			<p class="p-lead">
				The pins on the map show different types of advertising space. click on one and on the view details button to see a view of the space, prices and when its available over the next 12 months. If you like what you see simply add it to your cart and check out.
			</p>

			<div class="intext-testimonial">
				<div class="intext-testimonial_pic">
					<div class="bg-gray img-fluid img-circle"></div>
				</div>

				<div>
					<p class="intext-testimonial_p">
						“Signkick have a solution that is simple, speedy and cost effective.“
					</p>
					<p class="intext-testimonial_sign">
						<span class="text-uppercase">JONTY YOUNG</span>, Head of Communications at NACUE
					</p>
				</div>
			</div>

		</div>
	</div>

	<div class="screenshot screenshot__right">
		<div class="screenshot_frame">
			<img src="http://www.pageresource.com/wallpapers/wallpaper/hot-air-balloons-beautiful-picture-free_402343.jpg" alt="">
		</div>
	</div>

</section>

<!-- Feature 3, screen on left -->
<section id="feature-3" class="grid-md grid-gap grid-md-2 flex-row-reverse block-base-y">
	<div class="">
		<div class="half-container half-container__right block-base-x">
			<p class="m-b-2">
				<span class="tag tag-primary-outline tag-square">
					NEW
				</span>
			</p>

			<h3 class="display-3">
				Check out and Delivery Tracking
			</h3>

			<p class="p-lead">
				Once you've reviewed your cart and checked out we'll ask for 24hr's to confirm your booking. Remember artwork isnt needed to complete your booking but we will need it around 2 weeks before your campaigns is due to go live. You can upload your artwork and track the progress of your orders using the delivery dashboard.
			</p>

			<div class="intext-testimonial">
				<div class="intext-testimonial_pic">
					<div class="bg-gray img-fluid img-circle"></div>
				</div>

				<div>
					<p class="intext-testimonial_p">
						“Signkick have a solution that is simple, speedy and cost effective.“
					</p>
					<p class="intext-testimonial_sign">
						<span class="text-uppercase">JONTY YOUNG</span>, Head of Communications at NACUE
					</p>
				</div>
			</div>

		</div>
	</div>
	<div class="screenshot screenshot__left">
		<div class="screenshot_frame">
			<img src="http://wallpaperwarrior.com/wp-content/uploads/2016/09/Wallpaper-21-1024x576.jpg" alt="">
		</div>
	</div>
</section>

<!-- Types chart -->
<section id="frame-types" class="grid-md grid-gap grid-md-2 bg-gray-md-down">
	<div class="">
		<div class="half-container half-container__left block-base">
			<div class="hidden-lg-up m-b-3 tabs_nav">
				<a class="tabs_nav_link" href="">48 Sheets</a>
				<a class="tabs_nav_link active" href="">Bus shelter</a>
				<a class="tabs_nav_link" href="">96 Sheets</a>
				<a class="tabs_nav_link" href="">48 Sheets</a>
			</div>

			<h5 class="subtitle m-b-2">
				Ad spaces types
			</h5>
			<h3 class="display-3">
				Bus Shelters and 6 sheets
			</h3>

			<p class="p-lead">
				Once you’ve created an account you’ll see our online map. Zoom in to the area you’re interested in and using the filter box you can search for availability by date and narrow down the formats you’re looking for.
			</p>

			<p>
				<a href="#" class="btn btn-outline-primary">
					Specifications
				</a>
			</p>

			<div class="content-page_price-block m-t-3">
				<p class="m-b-0">
					<span class="content-page_price">£234</span>
					<span class="content-page_price-period">/ for 2 weeks</span>
				</p>
				<p>
					including the production and placement of the poster
				</p>
			</div>
		</div>
	</div>

	<div class="hidden-md-down frame-types-chart m-b-3">
		<svg version="1.1" id="menu"  x="0px" y="0px" viewBox="0 0 479 557">
			<symbol id="circular-leaf" viewBox="-67.4 -67.5 134.9 134.9">
				<path class="frame-types-chart_leaf" d="M63.2,23.5c13-34.9-4.8-73.7-39.7-86.7s-73.7,4.8-86.7,39.7s4.7,73.8,39.6,86.7c15.9,5.9,32.5,5.5,47.2-0.1
		l5,1.9c0.7,0.2,1.5-0.1,1.7-0.8l1.9-5C46.1,51.6,57.3,39.3,63.2,23.5z"/>
			</symbol>

			<use xlink:href="#circular-leaf" width="134.9" height="134.9" x="-67.4" y="-67.5" transform="matrix(0.7862 0.7862 -0.7862 0.7862 358.3725 82.1333)" style="overflow:visible;"/>
			<use xlink:href="#circular-leaf" width="134.9" height="134.9" x="-67.4" y="-67.5" transform="matrix(1.112 0 0 1.112 195.4711 82.1505)" style="overflow:visible;"/>
			<use xlink:href="#circular-leaf" width="134.9" height="134.9" x="-67.4" y="-67.5" transform="matrix(0.7862 -0.7862 0.7862 0.7862 80.4596 196.6869)" style="overflow:visible;"/>
			<use xlink:href="#circular-leaf" width="134.9" height="134.9" x="-67.4" y="-67.5" transform="matrix(-6.809328e-17 -1.112 1.112 -6.809328e-17 79.7321 359)" style="overflow:visible;"/>
			<use xlink:href="#circular-leaf" width="134.9" height="134.9" x="-67.4" y="-67.5" transform="matrix(-0.7862 -0.7862 0.7862 -0.7862 195.0261 473.8501)" style="overflow:visible;"/>
			<use xlink:href="#circular-leaf" width="134.9" height="134.9" x="-67.4" y="-67.5" transform="matrix(-1.112 0 0 -1.112 358.1285 473.9167)" style="overflow:visible;"/>

			<text class="frame-types-chart_title" transform="matrix(1 0 0 1 315.757 89.7847)">
				48 sheets
			</text>
			<text class="frame-types-chart_title" transform="matrix(1 0 0 1 142.0558 89.5428)">
				6 sheets
			</text>
			<text class="frame-types-chart_title" transform="matrix(1 0 0 1 43.0401 204.3171)">
				96 sheet
			</text>
			<text class="frame-types-chart_title" transform="matrix(1 0 0 1 31.6871 348.9084)">
				<tspan x="0" y="0">Forecourt </tspan>
				<tspan x="16.7" y="20.4">digital </tspan>
				<tspan x="21.8" y="40.8">Panel</tspan></text>
			<text class="frame-types-chart_title" transform="matrix(1 0 0 1 167.6207 481.1168)">
				Malls
			</text>
			<text class="frame-types-chart_title" transform="matrix(1 0 0 1 326.7559 461.1584)">
				<tspan x="0" y="0">Digital </tspan>
				<tspan x="4.8" y="20.4">Super</tspan>
				<tspan x="-6.4" y="40.8">6 sheets</tspan>
			</text>

			<g>
				<a class="frame-types-chart_leaf_link" id="frame-types-chart_1" href="#1">
					<clipPath id="leaf-cut-1">
						<circle class="frame-types-chart_leaf_circle" cx="358.4" cy="82.1" r="73.5" />
					</clipPath>
					<image class="frame-types-chart_leaf_image" clip-path="url(#leaf-cut-1)"
						   xlink:href="http://images.fineartamerica.com/images-medium-large/sleeping-puppy-on-white-background-square-dog-photography.jpg" />
				</a>
				<a class="frame-types-chart_leaf_link" id="frame-types-chart_2" href="#">
					<clipPath id="leaf-cut-2">
						<circle class="frame-types-chart_leaf_circle" cx="195.5" cy="82.2" r="73.5"/>
					</clipPath>
					<image class="frame-types-chart_leaf_image" clip-path="url(#leaf-cut-2)"
						   xlink:href="https://static.squarespace.com/static/53c951f5e4b076d747f7b010/53c95a76e4b0e78ca8cc982f/53c95a77e4b0e78ca8cca0ed/1339800307007/1000w/Pet_Photography-Dog-Cocker_Spaniel-I_Love_Dogs-www.gavinconlan.com-gavin_conlan-Portraiture-Essex_Photographer-London_Photographer.--22.jpg" />
				</a>
				<a class="frame-types-chart_leaf_link" id="frame-types-chart_3" href="#">
					<clipPath id="leaf-cut-3">
						<circle class="frame-types-chart_leaf_circle" cx="80.4" cy="197.1" r="73.5"/>
					</clipPath>
					<image class="frame-types-chart_leaf_image" id="leaf3" clip-path="url(#leaf-cut-3)"
						   xlink:href="http://www.babylonpuzzles.com/6866-thickbox_default/500-pcs---curious-kitten---square-by-ravensburger.jpg" />
				</a>
				<a class="frame-types-chart_leaf_link" id="frame-types-chart_4" href="#">
					<clipPath id="leaf-cut-4">
						<circle class="frame-types-chart_leaf_circle" cx="79.7" cy="359" r="73.5"/>
					</clipPath>
					<image class="frame-types-chart_leaf_image" id="leaf4" clip-path="url(#leaf-cut-4)"
						   xlink:href="https://s-media-cache-ak0.pinimg.com/236x/93/b8/7f/93b87f36014dff918112fec3123021c0.jpg" />
				</a>
				<a class="frame-types-chart_leaf_link" id="frame-types-chart_5" href="#">
					<clipPath id="leaf-cut-5">
						<circle class="frame-types-chart_leaf_circle" cx="195" cy="473.9" r="73.5"/>
					</clipPath>
					<image class="frame-types-chart_leaf_image"  clip-path="url(#leaf-cut-5)"
						   xlink:href="https://s-media-cache-ak0.pinimg.com/236x/2f/e9/63/2fe9636a48b35fec0a82a7fb4443c599.jpg" />
				</a>
				<a class="frame-types-chart_leaf_link" id="frame-types-chart_6" href="#">
					<clipPath id="leaf-cut-6">
						<circle class="frame-types-chart_leaf_circle" cx="358.1" cy="473.9" r="73.5"/>
					</clipPath>
					<image class="frame-types-chart_leaf_image"  clip-path="url(#leaf-cut-6)"
						   xlink:href="http://fangmarks.com/wp-content/uploads/2012/07/fangmarks-july-2.jpg" />
				</a>
				<circle class="frame-types-chart_center_circle" cx="276" cy="278" r="80"/>
			</g>
		</svg>
	</div>
</section>

<!-- Partner Logos -->
<section id="partners" class="container logos-container">
	<div class="bg-gray p-a-1"> LOGO 1</div>
	<div class="bg-gray p-a-1"> LOGO 2</div>
	<div class="bg-gray p-a-1"> LOGO 3</div>
	<div class="bg-gray p-a-1"> LOGO 4</div>
</section>

<!-- Cities -->
<section id="cities" class="cities-section">
	<div class="container-lg block-base grid-md grid-gap flex-align-stretch">
		<div class="flex-column-md flex-space-between">
			<h3>
				Ready to get started?
			</h3>
			<div class="text-lg">
				203 other cities covered on Signkick! <br>
				Find the one you need:
			</div>
			<div class="ui-form form__semi-transparent cities-section_form m-b-0 m-t-2">
				<select class="form-control ui-form_input__select" id="exampleSelect1">
					<option>London</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>

		<div class="flex-self-center flex-grow-0">
			<svg class="line-icon icon-white rotate-right cities-section_angle hidden-sm-down">
				<use xlink:href="#icon-angle"></use>
			</svg>
			<svg class="line-icon icon-white rotate-180 cities-section_angle hidden-md-up">
				<use xlink:href="#icon-angle"></use>
			</svg>
		</div>

		<div class="flex-column-md flex-space-between">
			<h3>
				In London there are:
			</h3>
			<div class="flex flex-align-end">
				<div class="m-r-3">
					<div class="display-3">23</div>
					<div class="text-lg">Billboards</div>
				</div>
				<div class="m-r-3">
					<div class="display-3">23</div>
					<div class="text-lg">Billboards</div>
				</div>
				<div class="m-r-3">
					<div class="display-3">23</div>
					<div class="text-lg">Billboards</div>
				</div>
			</div>

			<div class="input-group form-group ui-form_group form__semi-transparent m-b-0 m-t-2">
				<div class="ui-form flex-grow-1">
					<input type="email" class="form-control ui-form_input" id="exampleInputEmail1" aria-describedby="emailHelp">
					<label class="ui-form_label" for="exampleInputEmail1">
						Type your email to start searching
					</label>
				</div>
				<button class="btn btn-white-alpha  input-group-btn p-x-1">
					Search panels
				</button>
			</div>

		</div>

	</div>
</section>

<main-footer></main-footer>
