$gray-dark:                 #3E4757 !default;
$gray-base:                 #546074; //#546074 !default;
$gray-base-light:           #8894A7;//#546074 !default;
$gray-muted:                #94A0B4 !default;
$gray-outline:              #CFD8E9 !default; //#E0E8F4
$gray-outline-alpha:        rgba(#688BC7, .3) !default;
$gray-back:                 #EDF2F8 !default;

$brand-primary:             #13A0DD !default;
$brand-primary-dark:        #0C8AC2 !default;
$brand-primary-light:       #4BBFF2 !default;
$brand-secondary:           #FFD063 !default;
$brand-success:             #BACF29 !default;
$brand-info:                #13A0DD !default;
$brand-warning:             #FDBA1D !default;
$brand-danger:              #DB255D !default;
$brand-inverse:             #0D1225 !default;
$brand-inverse-light:       #202846 !default;

$text-muted:                $gray-muted !default;
